<html>
  <head>
    <title>H5P in SCORM</title>
    <style type="text/css">
      body,
      html {
        margin: 0px;
        padding: 0px;
        height: 100%;
        overflow: auto;
      }
    </style>
    <meta charset="utf-8" />
    <script
      type="text/javascript"
      src="main.bundle.js"
    ></script>
    <script type="text/javascript" src="SCORM_API_wrapper.js"></script>
    <script type="text/javascript" src="h5p-adaptor.js"></script>
  </head>
  <body>
    <div style="width:100%;height:100%" id="h5p-container"></div>
    <script type="text/javascript">
      var element = document.getElementById("h5p-container");
      const h5p = new H5PStandalone.H5P(element, "workspace");
    </script>
  </body>
</html>
